.heading-section{
  background-image: url("https://scontent.fcai21-4.fna.fbcdn.net/v/t39.30808-6/332124854_2648411815302057_6162608756444671662_n.png?stp=dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeFCvz3WVhfUFTtEK8lmL4JWpy1_jTixRsmnLX-NOLFGycKIEaF7O9PK5sO1oL-A_PIW46gHJ-X667GLq33S0Zos&_nc_ohc=M2d7ywi4C0MAX_ETsB8&_nc_ht=scontent.fcai21-4.fna&oh=00_AfBrmGApzZJuTjMtmUcGH47dpMqpSlmKNaCDqMDRNG-pQQ&oe=640B2A2B");
  text-align: center;
  padding:  4% 0;

}
.heading{
  font-size: 3.25rem;
  color:#0081C9;
}

.sub-heading{
  padding: 3.5%;
  font-size: 2.5rem;
  color:#5BC0F8;
}

.winner{
  font-size: 3.25rem;
  color:#0081C9;
  padding:  3% 0;
}



.map-img{
  width: 300px;
  height: 300px;
}
